<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDRPPluMra2jMzm4qAvv2dGS36aGVcnPqc</string>
	<key>GCM_SENDER_ID</key>
	<string>304108838218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.baucua2027ios.game</string>
	<key>PROJECT_ID</key>
	<string>baucua2027-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>baucua2027-ios.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:304108838218:ios:80b43e7a106c2404eb35b3</string>
</dict>
</plist>